.app {
  font-family: 'Nunito', sans-serif;
  .topbar {
    padding: 20px;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background: #fff;
    .search-cont {
      margin: auto;
      width: 90%;
      max-width: 600px;
      display: flex;
      border: 1px solid rgb(209, 209, 209);
      border-radius: 50px;
      border-right: none;
      .search {
        display: inline-block;
        width: 87%;
        padding: 15px 15px 15px 25px;
        border: none;
        border-right: none;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
      button {
        width: 13%;
        border-left: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-radius: 50px;
        img {
          width: 25%;
        }
      }
    }
  }

  .full-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    img {
      -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      width: 25%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .main-loader-cont {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .no-res-cont {
    img {
      position: fixed;
      top: 50%;
      left: 50%;
      max-width: 500px;
      transform: translate(-50%, -50%);
    }
  }
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 200px auto 100px auto;
    .img-cont {
      position: relative;
      img {
        cursor: pointer;
        display: block;
        width: 100%;
      }
      .img-ovr {
        display: none;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
      }
      &:hover {
        .img-ovr {
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          display: block;
          cursor: pointer;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
  .pag {
    margin: 0 0 100px 0;
    text-align: center;
    button {
      padding: 20px 50px;
      border: none;
      margin: auto;
      display: block;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      cursor: pointer;
      border-radius: 50px;
    }
    h5 {
      font-size: 2rem;
      color: grey;
    }
  }
}

@media (max-width: 800px) {
  .app .full-img img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .app .topbar {
    padding: 20px 0;
  }

  .app .full-img img {
    width: 90%;
  }

  .app .container {
    margin: 150px auto 50px auto !important;
  }

  .app .topbar .search-cont .search {
    width: 80%;
  }
  .app .topbar .search-cont button {
    width: 20%;
  }
  .app .pag {
    margin: 0 0 50px 0;
  }
}
